@charset "utf-8";

*{
    margin: 0;
    padding: 0;
}
body{
    background-color: #999999;
}
.container{
    width: 800px;
    background-color: #fff;
    height: 1000px;
    margin: 0 auto;
}
.header{
    height:45px;
}
.content{
    height:900px;
}

ul{
    list-style-type: none;
}


.ul1>li{
    line-height: 45px;
    text-align: center;
    float: left;
    width: 100px;
}

a{
    text-decoration: none;
    color: #000;
}
a:hover{
    color:#ff5a5a;
}

.ul2{
    display: none;
}
.ul1 .ture:hover{
    box-shadow: 0 0px 24px 1px rgb(226, 226, 226);
    border: 0;
    outline: 0px;
}
.ul1 .ture:hover .ul2{
    background-color: #fff;
    display: inline-block;
    border: 0px;
}

.ul2 li:hover{
    background-color: #e0e0e0;
    width: 100px;
    /* box-shadow: 0 0px 6px #c5c4c4; */
}
